# SQL Server
MSSQL_SA_PASSWORD=change-me

# Well Readings app
WELL_READINGS_CONNECTION_STRING=Server=wwtp-sql;Database=WWTP;User Id=sa;Password=change-me;TrustServerCertificate=True;

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=change-me

# SQL backup
SQL_BACKUP_PASSWORD=change-me
SQL_BACKUP_DATABASE=WWTP
ONEDRIVE_REMOTE=onedrive:WWTP SQL Backups
NAS_REMOTE=nas:WWTP SQL Backups
